body {
  font-family: 'Karla', sans-serif;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
  padding-bottom: 75px; }
  @media (min-width: 768px) {
    body {
      padding-bottom: 110px; } }

      h1 {
        background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmJyN3l4bjNnd3ZjdnJmN2l3YmF3ZWx3OTBwenI3OGt6Ym95YnlucCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/jaOXKCxtBPLieRLI0c/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        background-clip: text; /* Add the standard property */
        text-transform: uppercase;
        font-size: 120px;
        margin-left: 1px;
        font-weight: bold;
        
      }

  

/* .navbar-brand {
  margin-left: 20px; 
  margin-left: 10%
  ;
} */
.my_site {
  margin-left: 20px; 
  margin-left: 10%;
  color: #000000;
  margin-bottom: 0%;
  font-size: 15px;
  font-weight: bold;

}


.navbar-dark {
  padding-top: 15px;
  padding-bottom: 35px; }
  .navbar-dark .navbar-text {
    color: #ffffff;
    opacity: 1;
    padding: 0 20px;
    border-right: 1px solid #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
    .navbar-dark .navbar-text:last-child {
      border-right: 0; }
  @media (max-width: 767px) {
    .navbar-dark {
      padding-bottom: 0; } }

.page-title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 6px; }
  @media (max-width: 767px) {
    .page-title {
      font-size: 35px;
      margin-bottom: 14px; } }

.page-description {
  max-width: 465px;
  font-size: 18px;
  margin-bottom: 59px; }
  @media (max-width: 767px) {
    .page-description {
      font-size: 14px; } }

p {
  font-size: 14px;
  margin-bottom: 21px; }

  

.footer-social-links .social-link {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  margin-right: 16px;
  transition: all 0.3s ease-in-out; }
  .footer-social-links .social-link:last-child {
    margin-right: 0; }
  .footer-social-links .social-link:hover {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff; }